<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dojos and Ninjas | Benjamin C Williams</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
</head>

<body>
  <!-- NavBar Area -->
  <div class="grid-container container-width">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Dojos and Ninjas</li>
          <li><a href="/dojos">Home</a></li>
        </ul>
      </div>
    </div>
    <!-- Content area -->
    <div class="grid-x align-spaced margin-top-2">
      <div class="cell medium-4">
        <h3 class="text-left">Add a Dojo</h3>
        <!-- Add Dojo Form -->
        <form class="cell small-4" action="/addDojo" method="post">
          <label for="dojo_name" class="middle right-aligned">Dojo Name
            <input type="text" name="dojo_name" placeholder="Input the name of your new dojo">
          </label>
          <div class="grid-x align-left">
            <input type="submit" class="button margin-top-0" value="Add a Dojo">
          </div>
        </form>
      </div>
      <!-- Dojo link list -->
      <div class="cell medium-4">
        <h3 class="text-right margin-right-1">Dojo List</h3>
        <ul class="vertical menu text-right">
          {% for dojo in dojos: %}
            <li ><a href="/dojos/{{ dojo.id }}">{{dojo.name}}</a></li>
          {% endfor %}
        </ul>
        <!-- Add a ninja button -->
        <div class="grid-x margin-right-1 align-right">
          <a class="button margin-top-1" href="/addNinja">Add a Ninja</a>
        </div>
      </div>
      
    </div>
  </div>
 
    <!-- foundation and jquery script imports -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/foundation.core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.util.keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.util.touch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.util.triggers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.util.mediaQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.util.motion.js') }}"></script>
    <!-- script launching function for foundation JS -->
    <script>
      $(document).foundation();
    </script>

</body>

</html>