<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/72cf54f64d.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="section">
        <div class="columns">
            
            <div class="column"></div>
            <div class="m-6 p-6 column is-half has-background-dark">
                <div class="container is-flex is-flex-direction-column is-align-items-center mb-6">
                    <h1 class="title is-1  has-text-light">
                        Dojo Survey
                    </h1>
                    <p class="subtitle has-text-light">
                        My first website with <strong class="has-text-light">Bulma</strong>!
                    </p>
                </div>
                <div class="field">
                    <label class="label has-text-light">Name</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Name input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
    
                <div class="field">
                    <label class="label has-text-light">Email</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" placeholder="Email input" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
    
                <div class="field">
                    <label class="label has-text-light">Location</label>
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Chicago</option>
                                <option>Seattle</option>
                                <option>Online</option>
                                <option>Burbank</option>
                                <option>Bellevue</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Favorite Language</label>
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Chef</option>
                                <option>HTML</option>
                                <option>CSS</option>
                                <option>JavaScript</option>
                                <option>Python</option>
                                <option>C#</option>
                                <option>Java</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Comment (optional)</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Leave us a comment..."></textarea>
                    </div>
                </div>
    
                <div class="field is-grouped mt-5 is-flex is-justify-content-space-between">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-danger">Clear Form</button>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </section>
</body>

</html>